.pagination-bars {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.75rem;
  height: 2rem;
  flex-shrink: 0;
  padding-top: 6rem;
}

.pagination-bar-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.25rem 0.375rem;
  margin: 0 -0.375rem;
}

.pagination-bar {
  width: 2.5px;
  border-radius: 999px;
  transition: none;
}

@media (max-width: 650px) {
  .pagination-bars {
    padding-top: 6rem;
  }
}
