.pagination-bars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  flex-shrink: 0;
  padding-top: 3rem;
}

.pagination-bar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  margin: 0;
}

.pagination-bar {
  width: 1.5px;
  border-radius: 999px;
  transition: none;
}

@media (max-width: 650px) {
  .pagination-bars {
    padding-top: 3rem;
  }
}
